/* Icons */
.icon-section {
  margin: 0 0 3em;
  clear: both;
  overflow: hidden; }
.icon-container {
  width: 240px;
  padding: .7em 0;
  float: left;
  position: relative;
  text-align: left; }
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
  color: #000;
  position: absolute;
  margin-top: 3px;
  transition: .3s; }
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
  font-size: 2.2em;
  margin-top: -5px; }
.icon-container:hover .icon-name {
  color: #000; }
.icon-name {
  color: #aaa;
  margin-left: 35px;
  font-size: 14px;
  transition: .3s; }
.icon-container:hover .icon-name {
  margin-left: 45px; }
.fontawesome-icon-list .page-header {
  border-bottom: 1px solid #C9CDD7;
  padding-bottom: 9px;
  margin: 30px 0px 27px 0px; }
.fontawesome-icon-list h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300; }
.fontawesome-icon-list i {
  font-style: 16px;
  padding-right: 10px; }
.social-box i {
  line-height: 110px; }
.social-box ul {
  display: inline-block;
  margin: 0;
  padding: 10px 4px;
  width: 100%;
  background-color: #fbfbfb;
  }
  .social-box ul li {
    color: #949CA0;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px 0 0;
    text-align: right; }
    .social-box ul li:last-child {
      padding-left: 10px;
      padding-right: 0;
      text-align: left; }
    .social-box ul li span {
      font-size: 10px;
      }
.login-logo {
  text-align: center;
  margin-bottom: 15px; }
  .login-logo span {
    color: #ffffff;
    font-size: 24px; }
.login-content {
  max-width: 520px;
  margin: 15vh auto; }
.login-form {
  background: #ffffff;
  padding: 30px 30px 20px;
  border-radius: 5px; }
.login-form h4 {
  color: #878787;
  text-align: center;
  margin-bottom: 50px; }
.login-form .checkbox {
  color: #878787; }
.login-form .checkbox label {
  text-transform: none; }
.login-form .btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
  border: 0px; }
.login-form label {
  color: #878787;
  text-transform: uppercase; }
.login-form label.error{
  text-transform: none;
  color: #f44336;
  margin-top: 2px;
  display: block;
  width: 100%;
}
.login-form label a {
    color: #03A8C5;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.social-login-content {
  margin: 0px -30px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0px;
  background: #fcfcfc; }
.social-button {
  padding: 0 30px; }
  .social-button .facebook {
    background: #3b5998;
    color: #fff; }
    .social-button .facebook:hover {
      background: #344e86; }
  .social-button .twitter {
    background: #00aced;
    color: #fff; }
    .social-button .twitter:hover {
      background: #0099d4; }
.social-button i {
  padding: 19px; }
.register-link a {
  color: #03A8C5;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  }
 .register-link a:hover{
   color: #4CC6FF;
 }
.cpu-load {
  width: 100%;
  height: 272px;
  font-size: 14px;
  line-height: 1.2em; }
.cpu-load-data-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px; }
.cpu-load-data {
  margin-bottom: 30px; }
.cpu-load-data li {
  display: inline-block;
  width: 32.5%;
  text-align: center;
  border-right: 1px solid #e7e7e7; }
.cpu-load-data li:last-child {
  border-right: 0px; }
.nestable-cart {
  overflow: hidden; }

/* Forms */
.input-group-addon {
  background-color: transparent;
  border-left: 0; }
.input-group-addon, .input-group-btn {
  white-space: nowrap;
  vertical-align: middle; }
.input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 0;
  border-radius: .25rem 0 0 .25rem; 
}
.flotTip {
  background: #252525;
  border: 1px solid #252525;
  padding: 5px 15px;
  color: #ffffff; }
.flot-container {
  box-sizing: border-box;
  width: 100%;
  height: 275px;
  padding: 20px 15px 15px;
  margin: 15px auto 30px;
  background: transparent; }
.flot-pie-container {
  height: 275px; }
.flotBar-container {
  height: 275px; }
.flot-line {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em; }
.legend table {
  border-spacing: 5px; }
#chart1,
#flotBar,
#flotCurve {
  width: 100%;
  height: 275px; }
.morris-hover {
  position: absolute;
  z-index: 1; }
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0; }
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0; }
.morris-hover.morris-default-style {
  border-radius: 2px;
  padding: 10px 12px;
  color: #666;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: #fff !important; }
.morris-hover-point {
  color: rgba(255, 255, 255, 0.8) !important; }
#morris-bar-chart {
  height: 285px; }
.map, .vmap {
  width: 100%;
  height: 400px; }
.btn-toolbar {
  float: left !important; }
  .btn-toolbar .btn-outline-secondary:not([disabled]):not(.disabled):active,
  .btn-toolbar .btn-outline-secondary:not([disabled]):not(.disabled).active,
  .btn-toolbar .show > .btn-outline-secondary.dropdown-toggle {
    background-color: #212529;
    border-color: #212529;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff; }
  .btn-toolbar .btn-outline-secondary:hover {
    background-color: #212529;
    border-color: #212529;
    color: #fff; }
.form-i, .form-i-l{
  padding: 0;
  display: inline-block;
}
.form-i-l{
  margin-right: 30px;
}
@media (min-width: 768px) {
  .form-i, .form-i-l{
    max-width: 45.666667%;
  }
}