/*
  color:
  1: #2d89ef;
  2: #007DB8;
  3:#2d89ef;
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Amaranth|Titillium+Web');
/*  Theme default CSS */
html, body {
  height: 100%;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a:focus {
  outline: 0px solid;
}
img {
  max-width: 100%;
  height: auto;
}
.fix {
  overflow: hidden;
}
p {
  margin: 0 0 15px;
  color: #212121;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  margin: 0 0 15px;
  color: #212121;
  font-weight: 500;
}

a {
  transition: all 0.5s ease 0s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
body {
  background: #fff none repeat scroll 0 0;
  color: #212121;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}
/* nav drop */
.info-text{
  text-align: left;
  padding: 10px;
  padding-left: 30px !important;
  border-bottom: 1px solid #e9ecef;
  border-top: 1px solid #e9ecef;
  margin: 0;
  font-size: 16px;
}
.info-text{
  color: #17A2BC;
}
.dropdown-menu{
  padding-top: 0 !important;
}
.dropdown-menu li a{
}
.badge-bell {
  top: -2px;
  position: relative;
  padding: 3px 5px !important;
  border-radius: 50%;
  font-size: 10px;
  background-color: #17A2BC;
  color: #fff;
}
/* Back to top button */
.clear {
  clear: both;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #fff;
}
::-moz-selection {
  background: #2d89ef;
  text-shadow: none;
}
::selection {
  background: #2d89ef;
  text-shadow: none;
}
/* Preloader Start */
.sk-folding-cube {
  margin: 20% auto;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transform: rotateZ(45deg);transform: rotateZ(45deg); 
  background-color: transparent;
}
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #028AB9;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg); }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg); }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg); }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
.area-padding {
  padding: 70px 0px 80px;
}
.area-padding-2 {
  padding: 70px 0px 50px;
}
.padding-2 {
  padding-bottom: 90px;
}
.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
  color: #2d89ef;
}
.section-headline h2::after {
  border: 1px solid #2d89ef;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}
.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  color: #2d89ef;
}
/* Header top Area */
.dropdown-menu{
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .45rem;
}
li.dropdown.open ul.dropdown-menu > li a:hover{
  background-color: #2196F3 !important;
  color: #fff !important;
}
li.dropdown.open, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: initial !important;
  color: #2d89ef;
}
li.dropdown.open ul.dropdown-menu > li{
  padding: 0;
}
li.dropdown.open ul.dropdown-menu > li a{
  line-height: 30px !important;
  color: #000 !important;
  padding: 3px 20px;
  display: block;
  clear: both;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 0px;
  font-size: 14px;
}
.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 9;
}
.navbar-header a.navbar-brand {
  display: inline-block;
  height: 70px;
  padding: 15px 0;
}
.main-menu ul.navbar-nav li {
  padding: 0px 13px;
}
.main-menu ul.navbar-nav li.active a::after {
  bottom: 0px;
}
.stick .main-menu ul.navbar-nav li.active a::after{
  bottom: 1px;
}
.stick .main-menu ul.navbar-nav li.active a::after, .main-menu ul.navbar-nav li.active a::after {
  border: 1px solid #2d89ef;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}
ul.no-afer li a::after{
  border: 0px solid #fff !important;
}
.main-menu ul.navbar-nav li.active a:hover {
  background: none;
  color: #fff;
}
.main-menu ul.navbar-nav li.active a:focus {
  color: #FF8C00;
}
.main-menu ul.navbar-nav li.active a, .main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  position: relative;
  color: #028AB9;
  line-height: 20px;
  padding: 24px 0px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar {
  border: medium none;
  margin-bottom: 0;
}
.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.main-menu ul.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #333;
}
.navbar-default .navbar-toggle {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  padding: 25px 0px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}
.navbar-default .navbar-toggle .icon-bar, .stick .navbar-default .navbar-toggle .icon-bar {
  background-color: #007fb8;
  width: 30px;
  height: 3px;
}
.top-right.text-right {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 20px;
}
.top-right.text-right>li {
  float: right;
  margin: 0px 8px;
}
.top-right.text-right li a {
  color: #fff;
}
.top_{
  padding-top: 70px;
}
/* Stick menu */
.header-area.stick {
  background-color: #FFF;
  box-shadow: 2px 3px 5px #060608b0;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.stick .navbar-header a.navbar-brand {
  display: inline-block;
  height: 90px;
}
.stick .navbar-brand>img {
  display: none;
}
.stick .navbar-brand.sticky-logo>img {
  display: block;
}
.sticky-logo h1 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
.sticky-logo h1 span {
  color: #2d89ef;
}
.stick .main-menu ul.nav>li>a:hover {
  color:#474747;
}
.stick .main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  position: relative;
}
.stick .mainmenu ul#nav>li:hover>a, .stick .mainmenu ul#nav li .mega-menu, .stick .mainmenu ul#nav li ul.sub-menu {
  background-color: #f5f5f5;
  color: #fff;
  outline: medium none;
}
.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover, .mainmenu ul#nav li .mega-menu span>a:hover, .stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
  color: #fff;
}
.stick .logo {
  height: 20px;
}
.stick .logo a {
  margin-top: 0px;
}
.stick .main-menu ul.nav>li>a {
    color: #028AB9;
    line-height:20px;
    padding: 24px 0px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px
}
.stick .navbar-default .navbar-toggle {
  padding: 10px 0px;
}
/* About Area */
.about-area {
  background-color: #FFF;
}
.single-well>a {
  display: block;
}
.single-well ul li {
  color: #212121;
  display: block;
  padding: 5px 0;
}
.single-well ul li i {
  color: #028AB9;
  padding-right: 10px;
  font-size: 12px;
}
.single-well p {
  color: #212121;
}
/* Services Area */
.services-icon {
  color: #212121;
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
}
.section-headline.services-head>h2 {
  margin-bottom: 25px;
  color: #2d89ef;
}
.services-details {
  padding-top: 40px;
  transition: all 0.5s ease 0s;
}
.services-details:hover h4, .services-details:hover .services-icon {
  color: #028AB9;
}
.row.second-row {
  margin-top: 40px;
}
.section-head>h2 {
  color: #333;
}
.single-services>h4 {
  color: #212121;
  font-size: 24px;
  font-weight: 500;
}
.single-services>p {
  color: #333;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
}
/* Skill Area */
.our-skill-area {
  position: relative;
}
.our-skill-area {
  background: rgba(248, 248, 248, 0.8) url("https://compitweb.com/img/background/tablet-2188368_1920.jpg") no-repeat fixed center top / cover;
}
.test-overly {
  background: rgba(1, 5, 19, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
}
.progress-h4 {
  color: #fff;
  font-weight: 500;
}
/* Faq Area */
.faq-details .panel-heading {
  padding: 0;
}
.panel-default>.panel-heading {
  background-color: transparent;
  border: medium none;
  color: #333;
}
.faq-details h4.check-title a {
  color: #333;
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 40px;
  padding: 6px 10px;
  text-decoration: none;
}
.panel-body {
  padding: 15px 15px 0px 50px;
}
.faq-details h4.check-title {
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  background-color: #f6f6f64f;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2)
}
.faq-details a span.acc-icons {
  position: relative;
}
.faq-details a span.acc-icons::before {
  color: #333;
  content: "\f054";
  font-family: fontawesome;
  font-size: 14px;
  height: 40px;
  left: -51px;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 42px;
}
.faq-details h4.check-title a.active, .faq-details a.active span.acc-icons::before {
  color: #03A8C5;
}
.faq-details a.active span.acc-icons::before {
  content: "\f078";
  font-family: fontawesome;
  font-size: 14px;
  height: 40px;
  left: -51px;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 42px;
}
.second-row {
  margin-top: 30px;
}
.event-content.head-team h4 {
  background: transparent none repeat scroll 0 0;
  color: #333;
  padding: 30px 0 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.tab-menu .nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
}
.tab-menu {
  display: block;
  text-align: center;
}
.tab-menu ul.nav {
  margin: 0;
  padding: 0;
}
.tab-menu ul.nav li {
  border: medium none;
  display: inline-block;
}
.tab-content {
  border: 1px solid #ccc;
  padding: 0 15px 15px;
}
.tab-menu ul.nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 3px;
  color: #212121;
  display: block;
  font-weight: 500;
  margin-right: 5px;
  padding: 10px 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}
.tab-menu ul li.active a, .tab-menu ul li.hover a, .tab-menu ul li.focus a {
  border-bottom: 1px solid #fff;
  color: #03A8C5 !important;
}
.tab-pane.active .tab-inner .event-content.head-team p, .panel-body p{
  color:  #8e8d8d;
}
.tab-menu .nav-tabs {
  border-bottom: none;
}.tab-main-img a {
  position: relative;
  display: block;
}
.tab-main-img a:hover span.events-offer {
  height: 20%;
}
.tab-main-img a span.events-offer {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  content: "";
  font-size: 20px;
  font-weight: 700;
  height: 0%;
  left: 0;
  line-height: 70px;
  padding: 0;
  position: absolute;
  text-align: left;
  transition: all 0.5s ease 0s;
  width: 100%;
  padding: 0px 10px;
}
/*  Wellcome Area Css */
.wellcom-area {
  background: rgba(248, 248, 248, 0.1) url("https://compitweb.com/img/recursos/49946782_1645164132251935_5357685227441356800_n.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.btn-session{
  background-color: #2d89ef;
  color: #fff;
  padding: 10px 15px;
}
.well-bg {
  position: relative;
}
.wellcome-text {
  margin: 70px 0;
  padding: 30px 40px;
}
.well-text>h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
  line-height: 50px;
}
.well-text p {
  font-size: 18px;
  font-style: italic;
  color: #fff;
}
.wellcome-text .section-headline p {
  margin-bottom: 0;
}
.subs-feilds {
  border: 1px solid #fff;
  display: inline-block;
  height: 52px;
  margin-top: 30px;
  width: 60%;
  border-radius: 30px;
  overflow: hidden;
}
.suscribe-input input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: left;
  font-size: 15px;
  line-height: 24px;
  padding: 11px 15px;
  width: 70%;
  height: 50px;
}
.suscribe-input button {
  background: #2d89ef none repeat scroll 0 0;
  border: medium none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  float: left;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 20px;
  width: 30%;
}
.suscribe-input button:hover {
  background: #fff none repeat scroll 0 0;
  color: #2d89ef;
}

/*  review Area */
.reviews-area {
  background: url(https://compitweb.com/img/background/resized_resized.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
}
.work-left-text {
  background: #2d89ef none repeat scroll 0 0;
}
.work-left-text {
  width: 50%;
}
.work-right-text {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  float: right;
  height: 100%;
  overflow: hidden;
  padding: 71px 0;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.work-right-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}
.work-right-text h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}
.work-right-text .sus-btn {
  margin-left: 0;
  margin-top: 20px;
}
.single-awesome-4 {
  display: block;
  float: left;
  overflow: hidden;
  width: 33.33%;
}
.single-awesome-4 .add-actions {
  padding: 10px 20px;
}
/* Portfolio Area Css */
.vbox-overlay{
  z-index: 9999991;
}
.pst-content {
  padding-left: 10px;
}
.project-menu {
  margin-bottom: 40px;
  text-align: center;
}
.project-menu li {
  display: inline-block;
}
.project-menu li a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #212121;
  border-radius: 20px;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
  padding: 6px 15px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.project-menu li a.active, .project-menu li a:hover {
  border-color: #2d89ef;
  background: #2d89ef;
  color: #fff;
  text-decoration: none;
}
.single-awesome-portfolio {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 25%;
  position: relative;
}
.single-awesome-project {
  overflow: hidden;
  margin-bottom: 30px;
}
.first-item {
  margin-bottom: 30px;
}
.awesome-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.awesome-img>a {
  display: block;
  position: relative;
}
.single-awesome-project:hover .awesome-img>a::after {
  opacity: 1;
}
.single-awesome-project:hover .add-actions {
  opacity: 1;
  bottom: 0;
}
.awesome-img>a::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}
.add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 30px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100%;
}
.project-dec {
  display: block;
  height: 100%;
  width: 100%;
}
.project-dec a {
  display: block;
  height: 100%;
  width: 100%;
}
.project-dec h4 {
  margin-bottom: 5px;
}
.project-dec h4:hover {
  color: #fff;
}
.project-dec h4 {
  color: #ddd;
  font-size: 24px;
  margin-top: -45px;
  padding-top: 50%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}
.project-dec span {
  color: #ddd;
  font-size: 13px;
}
.project-action-btn {
  display: block;
  height: 100%;
  text-align: center;
  transition: all 1s ease 0s;
  width: 100%;
}
.project-action-btn li {
  display: block;
  height: 100%;
  width: 100%;
}
.project-action-btn li a {
  display: block;
  height: 100%;
  width: 100%;
}
/* Pricing Area */
.pricing-area {
  background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
}
.pri_table_list {
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.4s ease 0s;
  background: #fff;
}
.pri_table_list h3 span {
  font-size: 16px;
}
.pri_table_list ol li {
  border-bottom: 1px solid #ccc;
  color: #666;
  padding: 12px 15px;
  position: relative;
  text-align: left;
}
.pri_table_list li.check.cross::after {
  content: "\f00d";
  font-family: fontawesome;
  font-size: 14px;
  position: absolute;
  right: 50px;
  top: 12px;
  color: indianred;
}
.pri_table_list li.check::after {
  content: "\f00c";
  font-family: fontawesome;
  font-size: 14px;
  position: absolute;
  right: 50px;
  top: 12px;
  color: #2d89ef;
}
.pri_table_list button {
  background: #212121 none repeat scroll 0 0;
  border: 1px solid #212121;
  color: #fff;
  margin-bottom: 25px;
  padding: 10px 35px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  border-radius: 30px;
}
.pri_table_list>h3 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  padding: 30px 0 20px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}
.pri_table_list ol {
  list-style: outside none none;
  margin: 0;
  padding: 0 0 25px;
}
.pri_table_list.active {
  transition: all 0.4s ease 0s;
  position: relative;
  overflow: hidden;
}
.saleon {
  background: #2d89ef none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  left: -26px;
  padding: 2px 25px;
  position: absolute;
  text-transform: uppercase;
  top: 16px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
.pri_table_list>button:hover {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}
.active>h3 {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #333;
  transition: all 0.4s ease 0s;
}
.active>button {
  background: #2d89ef none repeat scroll 0 0;
  border: 1px solid #2d89ef;
  color: #fff;
  transition: 0.4s;
}
.active>button:hover {
  background: #333 none repeat scroll 0 0;
  border: 1px solid #333;
  color: #fff;
  transition: 0.4s;
}
/* Testimonial Area Css */
.testimonials-area {
  background: rgba(0, 0, 0, 0.1) no-repeat fixed center top / cover;
  height: auto;
  width: 100%;
}
.testi-inner {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  background: #000 none repeat scroll 0 0;
}
.testi-overly {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-image: url("https://compitweb.com/img/recursos/49790925_500270213830446_1113447263348195328_n.jpg");
  background-attachment: fixed;
  background-position: top;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
}
.quate {
  border: 1px dotted #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  width: 70px;
}
.quate:hover {
  color: #fff;
}
.testi-img img {
  border: 1px dotted rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  transition: background 0.6s ease-out 0s;
  width: 80px !important;
}
.testi-text p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  margin: 20px 0;
  letter-spacing: 1px;
}
.testi-text h6 {
  color: #fff;
  font-size: 20px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot>span {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: 8px;
  width: 8px;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots {
  bottom: -30px;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
}
.testimonial-content {
  margin-bottom: 15px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot {
  display: inline-block;
  margin: 0 3px;
}
.testimonial-carousel.owl-carousel.owl-theme .owl-controls .owl-dots div.owl-dot.active span {
  background: #2d89ef;
}
.testi-text.text-center>h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.guest-rev {
  color: #ddd;
  font-size: 16px;
}
.guest-rev>a {
  color: #2d89ef;
  font-size: 14px;
}
/* Quote area */
.suscribe-area {
  background: #2196f3 none repeat scroll 0 0;
  padding: 30px 0;
}
.suscribe-text {
  display: block;
  padding: 10px 0;
}
.suscribe-text h3 {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.sus-btn {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #2d89ef;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-left: 100px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
}
.sus-btn:hover {
  background: #2d89ef none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #fff;
}
/* Footer Area */
.footer-area {
  padding: 40px 0;
  background: #f9f9f9;
}
.footer-head p {
  color: #212121;
}
.footer-head h4 {
  color: #212121;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.footer-icons{
  text-align: right;
  margin-bottom: 30px;
}
.footer-icons ul li {
  display: inline-block;
}
.footer-icons ul li a {
  color: #2196f3;
  display: block;
  font-size: 22px;
  margin-right: 16px;
  text-align: center;
  width: 25px;
}
.flicker-img>a {
  float: left;
  padding: 1px;
  width: 33.33%;
}
.footer-icons {
  margin-top: 30px;
}
.footer-contacts p span {
  color: #2d89ef;
  font-weight: 700;
}
.popular-tag ul li {
  display: inline-block;
}
.footer-content {
  display: block;
  overflow: hidden;
}
.footer-icons ul li a:hover{
  color: #000;
}
.popular-tag ul li a:hover{
  background: #2d89ef;
  border: 1px solid #2d89ef;
  color: #fff;
}
.popular-tag ul li a {
  border: 1px solid #212121;
  border-radius: 30px;
  color: #212121;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 3px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  width: 70px;
  text-align: center;
}
.footer-area-bottom {
  background: #2196f3 none repeat scroll 0 0;
  padding: 15px 0;
}
.copyright-text a:hover {
  text-decoration: underline;
  color: #fff;
}
.copyright-text a {
  color: #fff;
}
.copyright>p {
  margin-bottom: 0;
  color: #fff;
}
/*  Button */
.ready-btn {
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 30px;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
}
.ready-btn:hover {
  color: #fff;
  background: #2d89ef;
  border: 1px solid #2d89ef;
  text-decoration: none;
}

/* bottones */
.compit-btn-blue, .compit-btn-white {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  border: 2px solid #fff;
}
.compit-btn-blue, .compit-btn-white:hover{
  color: #fff;
  background: #2196f3 none repeat scroll 0 0;
}
.compit-btn-white, .compit-btn-blue:hover{
  color: #2d89ef;
  background: #fff none repeat scroll 0 0;
}
.logo-header{
  height: 60px;
  padding-top: 0!important;
  position: relative;
  margin-right: 18px;
}
.logo-header img{
  width: 55px;
  height: 45px;
  top: 11px;
  position: relative;
  float: left;
  margin-right: 10px;
}
.logo-header p{
  float: right;
  position: relative;
  top: 10px;
  font-size: 24px;
  color: #20A0C0;
  line-height: 45px;
  font-family: 'Amaranth', sans-serif;
}
.logo-foo{
  width: 210px;
  height: 90px;
}
.d-inline-block{
  display: inline-block;
}
.padding-y{
  padding-left: 10px;
  padding-right: 10px;
}
.padding-left{
  padding-left: 10px;
}
.ul-info-foo{
  font-size: 12px;
}
.ul-info-foo li a{
  text-transform: uppercase;
  color: #151414e6 ;
}
.ul-info-foo li a:hover{
  color: #2d89ef;
}
.services-area {
    background-color: #f9f9f9;
}

/* General */
.np-btn{padding:8px 16px!important; color:#fff!important;background-color:#2196F3!important}
.np-btn:hover {color:#fff;background-color:#2d89ef!important}
.center{margin: 0 auto; }
.center-flex{margin: 0 37%; padding: 0}